#adminmenu #toplevel_page_simple-author-box-options .wp-menu-image img {
	height: 18px;
    padding-top: 8px;
}
#adminmenu #toplevel_page_simple-author-box-options.current .wp-menu-image img {
	opacity: 1;
}
img.sab-custom-avatar {
    height: auto;
    max-width:75px;
}